<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ytDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ytDownloader.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ytDownloader.Properties.Settings>
            <setting name="SavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="SingleVideoOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadSubtitle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SubtitleLang" serializeAs="String">
                <value>ko</value>
            </setting>
            <setting name="SubtitleFormat" serializeAs="String">
                <value>srt</value>
            </setting>
            <setting name="SaveThumbnail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseStructuredFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Format" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxDownloads" serializeAs="String">
                <value>5</value>
            </setting>
        </ytDownloader.Properties.Settings>
        <ytDownloader.Settings>
            <setting name="SavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="SingleVideo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SubtitleDownload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SubtitleLang" serializeAs="String">
                <value>ko</value>
            </setting>
            <setting name="SubtitleFormat" serializeAs="String">
                <value>srt</value>
            </setting>
            <setting name="WriteThumbnail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StructuredFolders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxDownloads" serializeAs="String">
                <value>5</value>
            </setting>
        </ytDownloader.Settings>
    </userSettings>
</configuration>